.container {
    height: 25vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid white;
    color: white;
    text-decoration: none;
}

.container>* {
    width: 100%;
    text-align: center;
}

i {
    font-size: 5vw;
}

p {
    font-size: 3vw;
    margin: 0;
}