<div class="container">
    <div class="header">Marcel Nöhre - Playground</div>
    <div class="content">
        <div *ngFor="let category of categories; index as i">
            <div *ngIf="i % 4 == 0" class="row">
                <app-category [category]="category"></app-category>
                <div *ngIf="i + 1 < categories.length">
                    <app-category [category]="categories[i + 1]"></app-category>
                </div>
                <div *ngIf="i + 2 < categories.length">
                    <app-category [category]="categories[i + 2]"></app-category>
                </div>
                <div *ngIf="i + 3 < categories.length">
                    <app-category [category]="categories[i + 3]"></app-category>
                </div>
            </div>
        </div>
    </div>
</div>