<div class="container">
    <div class="restart" [ngClass]="turn == 1 ? 'dark' : ''">
        <a class="fa fa-refresh" (click)="restartGame()"></a>
    </div>
    <div class="back" [ngClass]="turn == 1 ? 'dark' : ''">
        <a class="fa fa-times" routerLink="/mini-games"></a>
    </div>
    <div class="player-1" [style]="'color: ' + player1.color" [ngClass]="turn == 1 ? 'turn' : ''">
        <div *ngFor="let charackter of player1.charackters index as i" class="charackter" [ngClass]="charackter.available? '' : 'blocked'" (click)="selectCharackter(1, charackter)">
            <i class="{{charackter.icon}}" [style]="'font-size: ' + charackter.cssSize" [ngClass]="turn == 1 && selectedCharackter.id == '1-' + i? 'selected' : ''"></i>
        </div>
    </div>
    <div class="board">
        <div class="inner-board">
            <div class="row">
                <div class="field" (click)="placeCharackter(0)" [style]="'color: ' + board[0].color">
                    <i *ngIf="board[0].icon != ''" class="{{board[0].icon}}" [style]="'font-size: ' + board[0].cssSize + '!important'"></i>
                </div>
                <div class="field" (click)="placeCharackter(1)" [style]="'color: ' + board[1].color">
                    <i *ngIf="board[1].icon != ''" class="{{board[1].icon}}" [style]="'font-size: ' + board[1].cssSize"></i>
                </div>
                <div class="field" (click)="placeCharackter(2)" [style]="'color: ' + board[2].color">
                    <i *ngIf="board[2].icon != ''" class="{{board[2].icon}}" [style]="'font-size: ' + board[2].cssSize"></i>
                </div>
            </div>
            <div class="row">
                <div class="field" (click)="placeCharackter(3)" [style]="'color: ' + board[3].color">
                    <i *ngIf="board[3].icon != ''" class="{{board[3].icon}}" [style]="'font-size: ' + board[3].cssSize"></i>
                </div>
                <div class="field" (click)="placeCharackter(4)" [style]="'color: ' + board[4].color">
                    <i *ngIf="board[4].icon != ''" class="{{board[4].icon}}" [style]="'font-size: ' + board[4].cssSize"></i>
                </div>
                <div class="field" (click)="placeCharackter(5)" [style]="'color: ' + board[5].color">
                    <i *ngIf="board[5].icon != ''" class="{{board[5].icon}}" [style]="'font-size: ' + board[5].cssSize"></i>
                </div>
            </div>
            <div class="row">
                <div class="field" (click)="placeCharackter(6)" [style]="'color: ' + board[6].color">
                    <i *ngIf="board[6].icon != ''" class="{{board[6].icon}}" [style]="'font-size: ' + board[6].cssSize"></i>
                </div>
                <div class="field" (click)="placeCharackter(7)" [style]="'color: ' + board[7].color">
                    <i *ngIf="board[7].icon != ''" class="{{board[7].icon}}" [style]="'font-size: ' + board[7].cssSize"></i>
                </div>
                <div class="field" (click)="placeCharackter(8)" [style]="'color: ' + board[8].color">
                    <i *ngIf="board[8].icon != ''" class="{{board[8].icon}}" [style]="'font-size: ' + board[8].cssSize"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="player-2 " [style]=" 'color: ' + player2.color " [ngClass]="turn == 2 ? 'turn' : ''">
        <div *ngFor="let charackter of player2.charackters; index as i" class="charackter " [ngClass]="charackter.available? '' : 'blocked' " (click)="selectCharackter(2, charackter)">
            <i class=" {{charackter.icon}} " [style]=" 'font-size: ' + charackter.cssSize " [ngClass]="turn==2 && selectedCharackter.id=='2-' + i? 'selected' : '' "></i>
        </div>
    </div>
</div>