.container {
    height: 100vh;
    width: 100vw;
    background-color: #1C1C1C;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.back {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2vh;
    font-size: 5vh;
}

.back-dark>a {
    color: black !important;
}

.player-1,
.player-2 {
    height: 20vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    padding-left: 5vw;
    padding-right: 5vw;
}

.turn {
    background-color: lightgoldenrodyellow;
}

.charackter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.charackter>i {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blocked {
    color: grey;
}

.selected {
    color: green !important;
}

.board {
    height: calc(60vh - 4px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.inner-board {
    align-self: center;
    width: calc(98vw - 4px);
    height: calc(98vw - 4px);
}

.row {
    height: 33.33%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.field {
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    border: 1px solid white;
}

.field>i {
    align-self: center;
}

@media (min-width: 60vh) {
    .board {
        height: calc(60vh - 4px);
        width: 100vw;
    }
    .inner-board {
        width: calc(58vh - 4px);
        height: calc(58vh - 4px);
    }
    .row {
        height: 33.33%;
        width: 100%;
    }
    .field {
        height: 100%;
        width: 33.33%;
    }
}